{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  {% if profile %}
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>{{ profile.user.username }}'s Profile</h2>
          <hr>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Picture and User Info -->
          <!-- Add your profile picture and user info here -->
        </div>
        <div class="col-md-6">
          <!-- User's Tweets or Posts -->
          <!-- Add your code to display user's tweets or posts here -->
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              Followed By
            </div>
            <ul class="list-group list-group-flush">
              {% for following in profile.followed_by.all %}
                <li class="list-group-item">
                  <a href="{% url 'profile' following.user.id %}">@{{ following }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="card mt-3">
            <div class="card-header">
              Follows
            </div>
            <ul class="list-group list-group-flush">
              {% for following in profile.follows.all %}
                <li class="list-group-item">
                  <a href="{% url 'profile' following.user.id %}">@{{ following }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
            <br/>
            <form method="POST">
                {% csrf_token %}
                {% if profile in user.profile.follows.all %}
                    <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">
                        Unfollow @{{ profile.user.username|lower }}
                    </button>

                {% else %}
                    <button class="btn btn-outline-primary" name="follow" value="follow" type="submit">
                        Follow @{{ profile.user.username|lower }}
                    </button>
                {% endif %}
            </form>
            <br/>
        {% if request.user.id == profile.user.id %}
            <a href="{% url 'update_user' %}" class="btn btn-outline-warning">Update profile</a>
        {% endif %}
        </div>
      </div>
    </div>

  {% endif %}
{% endblock %}
